@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
 :root {
    --color-azul-fundo: #72a2e24d;
    --color-azul-escuro: #4760aed7; 
    --color-azu-claro: #a0bbf9f1; 
    --color-branco: #ffff; 
    --color-preto-500: 0000001c;
    --color-preto-900: 000000c0;
    --color-preto-placeholder: 000000be; 
    --color-cinza-claro: #eeeeee75; 

 }

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-azul-fundo);
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-azu-claro);
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-branco);
    padding: 2rem;
}

.form-header {
    display: flex;
    justify-content: space-between;

}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: var(--color-azul-escuro);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: var(--color-azu-claro);
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-branco);
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--color-azul-escuro);
    margin: 0 auto;
    position: absolute;
    border-radius: 20px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--color-preto-500);
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: var(--color-cinza-claro);
}

.input-box input:focus-visible {
    outline: 1px solid var(--color-azul-escuro);
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--color-preto-900);
}

.input-box input::placeholder {
    color: var(--color-preto-placeholder);
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: var(--color-preto-900);
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: var(--color-azul-escuro);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: var(--color-azu-claro);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: var(--color-branco);
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
        height: 100%;

    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
        height: 100%;
      
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
